.footer{
    width: 99.5%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    background: #2e5adf;
    margin: 0 auto;
  }